
{% extends "layout.html" %}
{% block content %}
<h4>Ручное добавление участников</h4>
<form method="post">
  <div class="mb-2">
    <label>Этап:</label>
    <select name="stage" class="form-control">
      {% for s in stages %}
        <option value="{{s}}">{{s}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-2">
    <label>Группа:</label>
    <input name="group" class="form-control">
  </div>
  <div class="mb-2">
    <label>Выберите участников:</label>
    <select name="participants" class="form-control" multiple size="10">
      {% for p in participants %}
        <option value="{{p}}">{{p}}</option>
      {% endfor %}
    </select>
  </div>
  <button class="btn btn-success">Добавить</button>
</form>
{% endblock %}
